{% extends "base.html" %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
        <h2>42 Coffee Cups Test Assignment</h2>
        </div>
        <div class="col-md-6">
            <p class="lead">{{person.name}}</p>
            <p class="lead">{{person.surname}}</p>
            <p class="lead">{{person.date_of_birth}}</p>
            <p class="lead">Bio:<br>{{person.bio}}</p>
        </div>
        <div class="col-md-6">
            <p class="lead">Contacts</p>
            <p class="lead">Email: {{person.email}}</p>
            <p class="lead">Jabber: {{person.jabber_id}}</p>
            <p class="lead">Skype: {{person.skype_id}}</p>
            <p class="lead">Other Contacts:<br>{{person.other_contacts}}</p>
        </div>
    </div>
</div>
{% endblock content %}
